NEXT_PUBLIC_SUPABASE_URL=https://hoyaiwlkrjuoekdqseyo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhveWFpd2xrcmp1b2VrZHFzZXlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxMzg2MDQsImV4cCI6MjA3OTcxNDYwNH0.4txJ6ooEyvortBUOW4eQYeG0_H213YuXlgbW73K4UOI
